<div class="banner"><img src="bowling.png" width="40" height="40"> Bowling Scorer</div>

<app-score [gameService]="gameService"></app-score>
<div class="controls">
  <span *ngIf="gameService.game.isOver" class="game-over">Game Over</span>
  <span *ngIf="!gameService.game.isOver"
    >Current Score: {{ gameService.game.totalScore }}</span
  >
  <span *ngIf="gameService.game.isOver"
    >Final Score: {{ gameService.game.totalScore }}</span
  >
  <span *ngIf="!gameService.game.isOver"
    >Current Frame: {{ gameService.game.currentFrame?.frameNumber ?? 1 }}</span
  >
  <span *ngIf="!gameService.game.isOver"
    >Rolls Remaining:
    {{ gameService.game.currentFrame?.rollsRemaining ?? 2 }}</span
  >
  <input type="button" value="Reset" (click)="gameService.startNewGame()" />
  <div *ngIf="!gameService.game.isOver" class="roll-input">
    <span>Enter next roll, or rolls separated by commas:</span>
    <input
      type="text"
      [(ngModel)]="input"
      (keyup.enter)="addInput()"
    />
    <span *ngIf="error" class="error-message">{{ error }}</span>
    <input
      type="button"
      value="Add"
      (click)="addInput()"
    />
  </div>
</div>
